{{log "EminenceSheet - Partials - Atouts" this }}
<div class="eminence-atouts{{#if isStyleJeuAvance}}-2{{/if}}">
    <span class="titre-section-atouts">{{localize "PENOMBRE.ui.atouts"}}</span>
    <div class="content">
        <div class="potentiel">
            <div class="div-potentiel">
                <span class="absolue">{{localize "PENOMBRE.ui.potentiel"}}</span>
                {{#if unlocked}}
                <select name="system.potentiel.atouts" class="val-potentiel-saisie absolue">
                    {{selectOptions potentielChoices selected=systemSource.potentiel.atouts localize=true}}
                </select>
                {{else}}
                <div class="val-potentiel absolue">{{system.potentiel.atouts}}</div>
                {{/if}}
                <img class="img-potentiel absolue" src="systems/penombre/assets/ui/potentiel_creux.png" alt="|" />
            </div>
        </div>
        <div class="atouts{{#if isStyleJeuAvance}}-2{{/if}} absolue">
            {{#each atouts as |atout|}}
                {{log 'atout' atout }}
                <input type="checkbox" {{#if atout.system.utilise}}checked{{/if}}></input>
                <label>{{atout.name}}</label>                
                {{atout.system.description}}
                {{atout.system.type}}
                <br>
            {{/each}}
        </div>
    </div>
</div>