{{!log "EminenceSheet - Partials - Atouts" this }}
<div class="eminence-atouts{{#if isStyleJeuAvance}}-2{{/if}}">
    <span class="titre-section-atouts">{{localize "PENOMBRE.ui.atouts"}}</span>
    <div class="content">
        <div class="potentiel">
            <div class="div-potentiel">
                <span class="absolue">{{localize "PENOMBRE.ui.potentiel"}}</span>
                {{#if unlocked}}
                <select name="system.potentiel.atouts" class="val-potentiel-saisie absolue">
                    {{selectOptions potentielChoices selected=systemSource.potentiel.atouts localize=true}}
                </select>
                {{else}}
                <div class="val-potentiel absolue">{{system.potentiel.atouts}}</div>
                {{/if}}
                <img class="img-potentiel absolue" src="systems/penombre/assets/ui/potentiel_creux.webp" alt="|" />
            </div>
        </div>

        <div class="atouts{{#if isStyleJeuAvance}}-2{{/if}} absolue">
            <table class="item-list centpourcent">
                <tr class="centpourcent">
                    <th>
                        {{ localize 'PENOMBRE.ui.nom' }}
                    </th>
                    <th class="item-case-width">

                    </th>
                    <th class="item-controls">
                        {{#if unlocked}}
                            <a class="item-control" data-tooltip="{{ localize 'PENOMBRE.ui.create' item='un atout' }}" data-action="create" data-type="atout"><i class="fas fa-plus"></i></a>
                        {{/if}}
                    </th>
                </tr>
                {{#each atouts as |item id|}}
                <tr class="item draggable" data-item-id="{{item._id}}">
                    <td>
                        <span class="item-name" data-tooltip="{{{item.system.description}}}">{{item.name}}</span>
                    </td>
                    <td  class="item-case-width" data-tooltip="{{item.system.valeur}}">
                    {{#times 3}}
                        <img class="item-case" src="systems/penombre/assets/ui/de_case_{{#if (gte item.system.valeur @index)}}checked{{else}}unchecked{{/if}}.webp"></img>
                    {{/times}}
                    </td>
                    <td class="item-controls">
                    {{#if ../unlocked}}
                        <a class="item-control" data-tooltip="{{ localize 'PENOMBRE.ui.edit' }}" data-action="edit" data-item-id="{{item._id}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control" data-tooltip="{{ localize 'PENOMBRE.ui.delete' }}" data-action="delete" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
                    {{/if}}
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>

    </div>
</div>