{{log "conscience" this}}
<div class="eminence-conscience flexible">
  <div class="col-1-1 text-vertical-conscience">{{localize "PENOMBRE.ui.section.conscience"}}</div>
  <div class="col-2-1 frise-verticale">
    <img class="" src="/systems/penombre/assets/ui/doree.png" alt="|" />
  </div>
  <div class="col-3-1 flexible">
    <div class="col-1-3">
      {{#if unlocked}}

        <!-- Conscience -->
        {{formGroup systemFields.conscience.fields.valeur value=systemSource.conscience.valeur localize=true}}
        {{formGroup systemFields.conscience.fields.max value=systemSource.conscience.max localize=true}}

        <!-- Complications -->
        <p>{{localize "PENOMBRE.ui.complicationsListe"}}</p>
        <div class="cadre-complications">
          <label>{{localize "PENOMBRE.ui.complications.decrivezPoints"}}</label>
          {{formGroup systemFields.conscience.fields.complications.fields.une.fields.description value=systemSource.conscience.complications.une.description localize=true}}
          {{formGroup systemFields.conscience.fields.complications.fields.deux.fields.description value=systemSource.conscience.complications.deux.description localize=true}}
          {{formGroup systemFields.conscience.fields.complications.fields.trois.fields.description value=systemSource.conscience.complications.trois.description localize=true}}
          {{formGroup systemFields.conscience.fields.complications.fields.quatre.fields.description value=systemSource.conscience.complications.quatre.description localize=true}}
        </div>

      {{else}}
        <!-- Conscience -->
        <div class="form-group">
          <label>{{localize "PENOMBRE.ui.conscienceVal"}}</label>
          <div class="form-fields">{{system.conscience.valeur}}</div>
        </div>
        <div class="form-group">
          <label>{{localize "PENOMBRE.ui.conscienceMax"}}</label>
          <div class="form-fields">{{system.conscience.max}}</div>
        </div>

        <!-- Complications -->

        <p>{{localize "PENOMBRE.ui.complicationsListe"}}</p>
        <div class="cadre-complications">
          {{#each system.conscience.complications as |complication id|}}
            <div class="form-group">
              <label>{{localize (concat "PENOMBRE.ui.complications.description." id)}}</label>
              <div class="form-fields">{{complication.description}}</div>
            </div>
            <div class="form-group div-cases">
              <label>{{localize "PENOMBRE.ui.complications.valeur"}}</label>
              <div class="images-cases">
                <!-- id : une, deux, trois, quatre ; @index : 1, 2, 3 -->
                {{#times 3}}
                  <img class="complication-case" data-action="complication" data-complication="{{id}}" data-index="{{@index}}" src="systems/penombre/assets/ui/transp_case_{{#if (gte complication.valeur @index)}}checked{{else}}unchecked{{/if}}.png"></img>
                {{/times}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}

      <!-- Jetons-->
        <div class="div-jetons">
          {{#each system.conscience.jetons as |jeton id|}}
            {{#if (lt id @root.system.conscience.valeur)}}
              <img class="jeton dropshadow-{{jeton.statut}}" data-action="jeton" data-index="{{@index}}" src="{{getJetonImage jeton.statut}}"></img>
            {{/if}}
          {{/each}}
          {{#times nbJetonsPerdus}}
            <img class="jeton" src="systems/penombre/assets/ui/cercle.png"></img>
          {{/times}}
        </div>

    </div>
  </div>
</div>