{{!log "conscience" this}}
<div class="eminence-conscience eminence-conscience-{{#if locked}}locked{{else}}unlocked{{/if}} flexible">
  <div class="col-1-1 text-vertical-conscience">{{localize "PENOMBRE.ui.section.conscience"}}</div>
  <div class="col-2-1 frise-verticale">
    <img class="" src="/systems/penombre/assets/ui/doree.png" alt="|" />
  </div>
  <div class="col-3-1 flexible">
    <div class="col-1-3">

      <!-- Conscience -->
      {{#if unlocked}}       
          {{formGroup systemFields.conscience.fields.max value=systemSource.conscience.max localize=true}}
      {{else}}
          <div class="form-group">
            <label>{{localize "PENOMBRE.ui.conscienceVal"}}</label>
            <div class="form-fields">{{systemSource.conscience.valeur}}</div>
          </div>
          <div class="form-group">
            <label>{{localize "PENOMBRE.ui.conscienceMax"}}</label>
            <div class="form-fields">{{systemSource.conscience.max}}</div>
          </div>
      {{/if}}

      <!-- Jetons-->
      <div class="div-jetons" data-tooltip="{{localize 'PENOMBRE.ui.clicJetons'}}">
          {{#each jetons as |jeton id|}}
            {{#if (lt id @root.system.conscience.valeur)}}
              <img class="jeton jeton-contextmenu dropshadow-{{jeton.statut}}" data-action="jeton" data-index="{{@index}}" src="{{getJetonImage jeton.statut}}"></img>
            {{else}}
              <img class="jeton jeton-contextmenu" data-index="{{@index}}" src="systems/penombre/assets/ui/cercle.png"></img>
            {{/if}}
          {{/each}}
      </div>

      <!-- Complications -->
      <p>{{localize "PENOMBRE.ui.complicationsListe"}}</p>
      {{#if unlocked}}                            
          <div class="cadre-complications-2">

              <div class="form-group div-cases">
                <div class="form-fields div-descriptions">
                  {{formInput systemFields.conscience.fields.complications.fields.une.fields.description value=systemSource.conscience.complications.une.description localize=true class="div-description-2"}}
                </div>
                <div class="images-cases" data-tooltip="{{system.conscience.complications.une.valeur}}">
                  {{#times 3}}
                    <img class="complication-case" data-action="complication" data-complication="une" data-index="{{@index}}" src="systems/penombre/assets/ui/transp_case_{{#if (gte systemSource.conscience.complications.une.valeur @index)}}checked{{else}}unchecked{{/if}}.png"></img>
                  {{/times}}
                </div>
              </div>

              <div class="form-group div-cases">
                <div class="form-fields div-descriptions">
                  {{formInput systemFields.conscience.fields.complications.fields.deux.fields.description value=systemSource.conscience.complications.deux.description localize=true class="div-description-2"}}
                </div>
                <div class="images-cases" data-tooltip="{{system.conscience.complications.deux.valeur}}">
                  {{#times 3}}
                    <img class="complication-case" data-action="complication" data-complication="deux" data-index="{{@index}}" src="systems/penombre/assets/ui/transp_case_{{#if (gte systemSource.conscience.complications.deux.valeur @index)}}checked{{else}}unchecked{{/if}}.png"></img>
                  {{/times}}
                </div>
              </div>

              <div class="form-group div-cases">
                <div class="form-fields div-descriptions">
                  {{formInput systemFields.conscience.fields.complications.fields.trois.fields.description value=systemSource.conscience.complications.trois.description localize=true class="div-description-2"}}
                </div>
                <div class="images-cases" data-tooltip="{{system.conscience.complications.trois.valeur}}">
                  {{#times 3}}
                    <img class="complication-case" data-action="complication" data-complication="trois" data-index="{{@index}}" src="systems/penombre/assets/ui/transp_case_{{#if (gte systemSource.conscience.complications.trois.valeur @index)}}checked{{else}}unchecked{{/if}}.png"></img>
                  {{/times}}
                </div>
              </div>

              <div class="form-group div-cases">
                <div class="form-fields div-descriptions">
                  {{formInput systemFields.conscience.fields.complications.fields.quatre.fields.description value=systemSource.conscience.complications.quatre.description localize=true class="div-description-2"}}
                </div>
                <div class="images-cases" data-tooltip="{{system.conscience.complications.quatre.valeur}}">
                  {{#times 3}}
                    <img class="complication-case" data-action="complication" data-complication="quatre" data-index="{{@index}}" src="systems/penombre/assets/ui/transp_case_{{#if (gte systemSource.conscience.complications.quatre.valeur @index)}}checked{{else}}unchecked{{/if}}.png"></img>
                  {{/times}}
                </div>
              </div>

            </div>

      {{else}}

        <div class="cadre-complications">
          {{#each system.conscience.complications as |complication id|}}
            <div class="ligne-complication">
              <div class="form-group div-descriptions">
                <div class="form-fields">{{complication.description}}</div>
              </div>
              <div class="form-group div-cases" data-tooltip="{{complication.valeur}}">
                <div class="images-cases">
                  <!-- id : une, deux, trois, quatre ; @index : 1, 2, 3 -->
                  {{#times 3}}
                    <img class="complication-case-2" src="systems/penombre/assets/ui/transp_case_{{#if (gte complication.valeur @index)}}checked{{else}}unchecked{{/if}}.png"></img>
                  {{/times}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
      <div class="note-jetons">
        <span>{{localize "PENOMBRE.ui.creerJetons"}}</span>
      </div>
    </div>
  </div>
</div>