{{log "harmoniques" this}}
<div class="eminence-harmoniques flexible">
  <div class="col-1-1 text-vertical-harmoniques">{{localize "PENOMBRE.ui.section.harmoniques"}}</div>
  <div class="col-2-1 frise-verticale">
    <img class="" src="/systems/penombre/assets/ui/grise.png" alt="|" />
  </div>
  <div class="col-3-1 flexible">
    {{#if unlocked}}
      <div class="col-1-3">
        {{formGroup systemFields.harmoniques.fields.ame.fields.valeur value=systemSource.harmoniques.ame.valeur localize=true}}
        {{formGroup systemFields.harmoniques.fields.esprit.fields.valeur value=systemSource.harmoniques.esprit.valeur localize=true}}
        {{formGroup systemFields.harmoniques.fields.etincelle.fields.valeur value=systemSource.harmoniques.etincelle.valeur localize=true}}
        {{formGroup systemFields.harmoniques.fields.nature.fields.valeur value=systemSource.harmoniques.nature.valeur localize=true}}
        {{formGroup systemFields.harmoniques.fields.nuit.fields.valeur value=systemSource.harmoniques.nuit.valeur localize=true}}
      </div>
    {{/if}}
    <div class="col-2-3 flexible">
      <table class="table-de flexible">
        <tr class="tr-de flexible">
          <td class="flexible" title="{{localize 'PENOMBRE.ui.actionScelerate'}}">
            <div class="case-de-mouve-1 flexible">
              <div class="absolue">
                <img class="case-de" src="/systems/penombre/assets/ui/case_de_penombre.png" alt="|" />
              </div>
              <div class="de-de-nuit absolue">
                <img class="click de-nuit" src="{{getDiceImage nuit}}" alt="|" />
              </div>
            </div>
            <br />&nbsp;<br />
            <div class="text-gros-1">
              {{localize "PENOMBRE.ui.nuit"}}
            </div>
          </td>

          <td></td>

          <td class="flexible" title="{{localize 'PENOMBRE.ui.actionSociale'}}">
            <div class="case-de-mouve-2 flexible">
              <div class="absolue">
                <img class="case-de" src="/systems/penombre/assets/ui/case_de_penombre.png" alt="|" />
              </div>
              <div class="de-d-ame absolue">
                <img class="click de-ame" src="{{getDiceImage ame}}" alt="|" />
              </div>
            </div>
            <br />&nbsp;<br />
            <div class="text-gros-2">
              {{localize "PENOMBRE.ui.ame"}}
            </div>
          </td>
        </tr>
        <tr class="tr-de flexible">
          <td class="flexible" title="{{localize 'PENOMBRE.ui.actionPhysique'}}">
            <div class="case-de-mouve-3 flexible">
              <div class="absolue">
                <img class="case-de" src="/systems/penombre/assets/ui/case_de_penombre.png" alt="|" />
              </div>
              <div class="de-de-nature absolue">
                <img class="click de-nature" src="{{getDiceImage nature}}" alt="|" />
              </div>
            </div>
            <br />&nbsp;<br />
            <div class="text-gros-3">
              {{localize "PENOMBRE.ui.nature"}}
            </div>
          </td>

          <td></td>

          <td class="flexible" title="{{localize 'PENOMBRE.Action Mentale'}}">
            <div class="case-de-mouve-4 flexible">
              <div class="absolue">
                <img class="case-de" src="/systems/penombre/assets/ui/case_de_penombre.png" alt="|" />
              </div>
              <div class="de-d-esprit absolue">
                <img class="click de-esprit" src="{{getDiceImage esprit}}" alt="|" />
              </div>
            </div>
            <br />&nbsp;<br />
            <div class="text-gros-4">
              {{localize "PENOMBRE.ui.esprit"}}
            </div>
          </td>
        </tr>
        <tr class="tr-de flexible">
          <td></td>

          <td class="flexible" title="{{localize 'PENOMBRE.Action Perceptive'}}">
            <div class="case-de-mouve-5 flexible">
              <div class="absolue">
                <img class="case-de" src="/systems/penombre/assets/ui/case_de_penombre.png" alt="|" />
              </div>
              <div class="de-d-etincelle absolue">
                <img class="click de-etincelle" src="{{getDiceImage etincelle}}" alt="|" />
              </div>
            </div>
            <br />&nbsp;<br />
            <div class="text-gros-5">
              {{localize "PENOMBRE.ui.etincelle"}}
            </div>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>