{{!log "harmoniques" this}}
<div class="eminence-harmoniques flexible">
  <div class="col-1-1 text-vertical-harmoniques">{{localize "PENOMBRE.ui.section.harmoniques"}}</div>
  <div class="col-2-1 frise-verticale">
    <img class="" src="/systems/penombre/assets/ui/grise.webp" />
  </div>
  <div class="col-3-1 flexible">
    <div class="rang-2-2 flexible">
      <table class="table-de flexible">
        <tr class="tr-de flexible">
          <td class="flexible" data-tooltip="{{localize 'PENOMBRE.ui.actionScelerate'}}">
            <div class="case-de-mouve-1 flexible">
              <div class="absolue">
                <img class="case-de" src="/systems/penombre/assets/ui/case_de_penombre.webp" />
              </div>
              {{#if unlocked}}
              <select name="system.harmoniques.nuit.valeur" class="de-de-nuit-saisie editer-harmoniques absolue">
                {{selectOptions harmoniqueValueChoices selected=systemSource.harmoniques.nuit.valeur localize=true}}
              </select>
              {{else}}
                <div class="de-de-nuit absolue">
                  <img class="click de-nuit" src="{{getDiceImage nuit}}" data-action="jetHarmonique" data-harmonique="nuit"/>
                </div>
              {{/if}}
            </div>
            <br />&nbsp;<br />
            <div class="text-gros-1 draggable jetHarmonique" data-harmonique="nuit">
              {{localize "PENOMBRE.ui.nuit"}}
            </div>
          </td>

          <td></td>

          <td class="flexible" data-tooltip="{{localize 'PENOMBRE.ui.actionSociale'}}">
            <div class="case-de-mouve-2 flexible">
              <div class="absolue">
                <img class="case-de" src="/systems/penombre/assets/ui/case_de_penombre.webp" />
              </div>
              {{#if unlocked}}
              <select name="system.harmoniques.ame.valeur" class="de-d-ame-saisie editer-harmoniques absolue">
                {{selectOptions harmoniqueValueChoices selected=systemSource.harmoniques.ame.valeur localize=true}}
              </select>
              {{else}}
                <div class="de-d-ame absolue">
                  <img class="click de-ame" src="{{getDiceImage ame}}" data-action="jetHarmonique" data-harmonique="ame"/>
                </div>
              {{/if}}
            </div>
            <br />&nbsp;<br />
            <div class="text-gros-2 draggable jetHarmonique" data-harmonique="ame">
              {{localize "PENOMBRE.ui.ame"}}
            </div>
          </td>
        </tr>
        <tr class="tr-de flexible">
          <td class="flexible" data-tooltip="{{localize 'PENOMBRE.ui.actionPhysique'}}">
            <div class="case-de-mouve-3 flexible">
              <div class="absolue">
                <img class="case-de" src="/systems/penombre/assets/ui/case_de_penombre.webp" />
              </div>
              {{#if unlocked}}
              <select name="system.harmoniques.nature.valeur" class="de-de-nature-saisie editer-harmoniques absolue">
                {{selectOptions harmoniqueValueChoices selected=systemSource.harmoniques.nature.valeur localize=true}}
              </select>
              {{else}}
                <div class="de-de-nature absolue">
                  <img class="click de-nature" src="{{getDiceImage nature}}" data-action="jetHarmonique" data-harmonique="nature"/>
                </div>
              {{/if}}
            </div>
            <br />&nbsp;<br />
            <div class="text-gros-3 draggable jetHarmonique" data-harmonique="nature">
              {{localize "PENOMBRE.ui.nature"}}
            </div>
          </td>

          <td></td>

          <td class="flexible" data-tooltip="{{localize 'PENOMBRE.ui.actionMentale'}}">
            <div class="case-de-mouve-4 flexible">
              <div class="absolue">
                <img class="case-de" src="/systems/penombre/assets/ui/case_de_penombre.webp" />
              </div>
              {{#if unlocked}}
              <select name="system.harmoniques.esprit.valeur" class="de-d-esprit-saisie editer-harmoniques absolue">
                {{selectOptions harmoniqueValueChoices selected=systemSource.harmoniques.esprit.valeur localize=true}}
              </select>
              {{else}}
                <div class="de-d-esprit absolue">
                  <img class="click de-esprit" src="{{getDiceImage esprit}}" data-action="jetHarmonique" data-harmonique="esprit"/>
                </div>
              {{/if}}
            </div>
            <br />&nbsp;<br />
            <div class="text-gros-4 draggable jetHarmonique" data-harmonique="esprit">
              {{localize "PENOMBRE.ui.esprit"}}
            </div>
          </td>
        </tr>
        <tr class="tr-de flexible">
          <td></td>

          <td class="flexible" data-tooltip="{{localize 'PENOMBRE.ui.actionPerceptive'}}">
            <div class="case-de-mouve-5 flexible">
              <div class="absolue">
                <img class="case-de" src="/systems/penombre/assets/ui/case_de_penombre.webp" />
              </div>
              {{#if unlocked}}
              <select name="system.harmoniques.etincelle.valeur" class="de-d-etincelle-saisie editer-harmoniques absolue">
                {{selectOptions harmoniqueValueChoices selected=systemSource.harmoniques.etincelle.valeur localize=true}}
              </select>
              {{else}}
                <div class="de-d-etincelle absolue">
                  <img class="click de-etincelle" src="{{getDiceImage etincelle}}" data-action="jetHarmonique" data-harmonique="etincelle"/>
                </div>
              {{/if}}
            </div>
            <br />&nbsp;<br />
            <div class="text-gros-5 draggable jetHarmonique" data-harmonique="etincelle">
              {{localize "PENOMBRE.ui.etincelle"}}
            </div>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
    
  </div>
</div>