{{log "EminenceSheet - Partials - Maîtrises" this }}
<div class="eminence-maitrises{{#if isStyleJeuAvance}}-2{{/if}}">
    <span class="titre-section-maitrises">{{localize "PENOMBRE.ui.maitrises"}}</span>
    <div class="content">
        <div class="potentiel">
            <div class="div-potentiel">
                <span class="absolue">{{localize "PENOMBRE.ui.potentiel"}}</span>
                {{#if unlocked}}
                <select name="system.potentiel.maitrises" class="val-potentiel-saisie absolue">
                    {{selectOptions potentielChoices selected=systemSource.potentiel.maitrises localize=true}}
                </select>
                {{else}}
                <div class="val-potentiel absolue">{{system.potentiel.maitrises}}</div>
                {{/if}}
                <img class="img-potentiel absolue" src="systems/penombre/assets/ui/potentiel_creux.png" alt="|" />
            </div>
        </div>
        <div class="maitrises{{#if isStyleJeuAvance}}-2{{/if}} absolue">
            {{#each maitrises as |maitrise|}}
                {{log 'maitrise' maitrise }}
                <input type="checkbox" {{#if maitrise.system.utilise}}checked{{/if}}></input>
                <label>{{maitrise.name}}</label>                
                {{maitrise.system.description}}
                {{maitrise.system.type}}
                <br>
            {{/each}}
        </div>
    </div>
</div>