<div class="eminence-personnage{{#if (or isStyleJeuStandard isStyleJeuAvance)}}-2{{/if}}">
  <div class="col-1-1 text-vertical-personnage">{{localize "PENOMBRE.ui.section.personnage"}}</div>
  <div class="col-2-1 frise-verticale">
    <img src="/systems/penombre/assets/ui/marron.png" alt="|" />
  </div>
  <div class="col-3-1">
    <div class="logo-frame">
      <img class="logo-img{{#if unlocked}}-unlocked{{/if}}" src="{{document.img}}" {{#if unlocked}}data-action="editImage"{{/if}} data-tooltip="{{document.name}}"/>
    </div>
    <div class="data">
      {{#if unlocked}}
        {{formGroup fields.name value=document.name localize=true}}
        {{formGroup systemFields.description value=systemSource.description localize=true}}
        {{formGroup systemFields.peuple value=systemSource.peuple localize=true}}
          {{#if (or isStyleJeuStandard isStyleJeuAvance)}}
          {{formGroup systemFields.cle value=systemSource.cle localize=true}}
          {{/if}}
      {{else}}
        <div class="name">{{document.name}}</div>
        <div class="description">{{system.description}}</div>
        <div class="form-group">
          <label>{{localize "PENOMBRE.ui.peuple"}}</label>
          <div class="form-fields">{{localize (concat "PENOMBRE.Peuple." system.peuple ".label")}}</div>
        </div>
        {{#if (or isStyleJeuStandard isStyleJeuAvance)}}
        <div class="form-group">
          <label>{{localize "PENOMBRE.ui.cle"}}</label>
          <div class="form-fields">{{localize (concat "PENOMBRE.Harmonique." system.cle ".label")}}</div>
        </div>
        {{/if}}
      {{/if}}
      {{#if (or isStyleJeuStandard isStyleJeuAvance)}}
      <div class="form-group">
        <label>{{localize "PENOMBRE.ui.gamme"}}</label>
        <div class="form-fields">{{localize (concat "PENOMBRE.Gamme." system.gamme ".label")}}</div>
      </div>
      <div class="form-group">
        <label>{{localize "PENOMBRE.ui.ton"}}</label>
        <div class="form-fields">{{localize (concat "PENOMBRE.Ton." system.ton ".label")}}</div>
      </div>
      {{/if}}
    </div>
  </div>
</div>