{{!log "timbre" this}}
<div class="eminence-timbre{{#if (or isStyleJeuStandard isStyleJeuAvance)}}-2{{/if}}">
  {{#if (or isStyleJeuStandard isStyleJeuAvance)}}
    <div class="cadre-img">
      <img class="img-timbre" src="systems/penombre/assets/ui/timbre.png" />
    </div>
    <div class="datas-timbre">
    {{#if unlocked}}
    {{formGroup systemFields.timbre.fields.description value=systemSource.timbre.description localize=true}}
    {{formGroup systemFields.timbre.fields.cle value=systemSource.timbre.cle localize=true}}
    {{formGroup systemFields.timbre.fields.note1 value=systemSource.timbre.note1 localize=true}}
    {{formGroup systemFields.timbre.fields.note2 value=systemSource.timbre.note2 localize=true}}
    {{formGroup systemFields.timbre.fields.note3 value=systemSource.timbre.note3 localize=true}}
    {{formGroup systemFields.timbre.fields.note4 value=systemSource.timbre.note4 localize=true}}
    {{formGroup systemFields.timbre.fields.statut value=systemSource.timbre.statut localize=true}}
    {{formGroup systemFields.timbre.fields.peste value=systemSource.timbre.peste localize=true}}
    {{else}}
      <div class="col-1-2">
        <div>
          <label class="label-timbre">{{localize "PENOMBRE.ui.timbre"}}</label>
          <span>.......................................................................................</span>
          <span>.......................................................................................</span>
          <span>.......................................................................................</span>
          <span>.......................................................................................</span>
          <span>.......................................................................................</span>
          <label class="croche note1">&#119136;</label>
          <label class="croche note2">&#119136;</label>
          <label class="croche note3">&#119136;</label>
          <label class="croche note4">&#119136;</label>
        </div>
      </div>
      <div class="col-2-2">
        {{#each systemFields.timbre.fields.statut.choices as |choice id|}}
        <img class="statut-timbre-case" src="systems/penombre/assets/ui/transp_case_{{#if (eq ../system.timbre.statut @id)}}checked{{else}}unchecked{{/if}}.png" />
        <span>{{localize choice.label}}</span>
        {{/each}}
      </div>
      <div class="col-3-2">
      <label class="label-peste">{{localize "PENOMBRE.ui.peste"}}</label>
      <span>{{localize system.timbre.peste}}</span>
      </div>
    {{/if}}
    </div>
  {{else}}
    <img class="frise-penombre"></img>
    <img class="logo-penombre"></img>
  {{/if}}
</div>