<div class="roll-result-total">
  <div class="autres-succes">{{#if hasAutresSucces}}Autres succès : {{#each autresSucces}}<span data-tooltip="{{this.actor}}">{{this.nbSucces}}</span>{{#if @last}}{{else}}, {{/if}}{{/each}}{{/if}}</div>
  <div class="total">Total : {{totalSucces}}</div>
  {{#if hasDifficulte}}
    <div class="difficulte">
      <div>Difficulté : {{difficulte}}</div>
      <div>{{#if isSuccess}} C'est une réussite ! {{else}} C'est un échec ! {{/if}}</div>
    </div>
  {{/if}}
</div>