{{log 'chat harmonique-roll dice-tooltip' this}}
{{#if parts.length}}
  <div class="dice-tooltip">
    <div class="wrapper">
      {{#each parts as |part id|}}
            {{!log 'part' id part}}
            <section class="tooltip-part{{#if @first}} harmonique{{else}} atout{{/if}}">
                <div class="dice">
                    <header class="part-header flexrow">
                    {{#if part.icon}}
                        <span class="part-method" data-tooltip aria-label="{{localize part.method}}">
                        {{{part.icon}}}
                        </span>
                    {{/if}}
                    <span class="part-formula">{{part.formula}}</span>
                    {{#if part.flavor}}<span class="part-flavor">{{part.flavor}}</span>{{/if}}
                    </header>
                    <ol class="dice-rolls">
                    {{#each part.rolls as |roll|}}
                    {{!log 'roll' roll @root ../id}}
                        <li class="roll {{roll.classes}}" data-indice="{{@../index}}-{{@index}}">
                            <img src="/systems/penombre/assets/ui/des_numerotes/d{{../faces}}_{{roll.result}}.webp" alt="Dé {{roll.result}}" data-tooltip="{{roll.result}}{{displayNbSuccess roll.result}}" data-tooltip-direction="UP">
                        </li>
                    {{/each}}
                    </ol>
                </div>
            </section>
      {{/each}}
      <div class="reroll-container">
        <button class="reroll-conscience hidden">Relance (Conscience)</button>
        <button class="reroll-reserve hidden">Relance (Réserve)</button>
      </div>    
    </div>
  </div>
{{/if}}