{{log 'roll' this}}
<div class="dice-roll penombre">
  Jet d'harmonique {{localize (concat 'PENOMBRE.ui.' harmonique)}} <br>
  {{#if hasDifficulte}}
    Succès : {{nbSucces}} / Difficulté : {{difficulte}}
    {{#if isSuccess}}
        C'est une réussite !
    {{else}}
        C'est un échec !
    {{/if}}
  {{else}}
    Succès : {{nbSucces}}
  {{/if}}
  {{#if icon}} 
    <span class="part-method" data-tooltip aria-label="{{localize method}}">
      {{{icon}}}
    </span>
  {{/if}}
  {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
  {{/if}}
  <div class="dice-result" data-action="expandRoll">
    <div class="dice-formula">{{formula}}</div>
    {{{tooltip}}}
  </div>
</div>