<div class="dice-roll penombre">
  Jet d'harmonique : {{harmonique}} <br>
  Difficulté : {{difficulte}} <br>
  Succès : {{nbSucces}}
  {{#if icon}} 
    <span class="part-method" data-tooltip aria-label="{{localize method}}">
      {{{icon}}}
    </span>
  {{/if}}
  {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
  {{/if}}
  <div class="dice-result" data-action="expandRoll">
    <div class="dice-formula">{{formula}}</div>
    {{{tooltip}}}
  </div>
</div>