{{log "penombre-roll-dialog" this}}
<div class="penombre-roll-dialog" data-actor-id="{{actor.id}}">

  <div class="line-1">
    <div class="part-left-1">
      <fieldset>
        <legend>{{localize "PENOMBRE.ui.harmonique"}}</legend>
        <div class="harmonique">
          <label id="harmonique-label">{{label}}</label>
          <select id="harmonique" name="harmonique">
            {{selectOptions choiceHarmonique selected=harmonique localize=true}}
          </select>
        </div>
        <div class="deMerveilleux">
          <input type="checkbox" id="deMerveilleux" name="deMerveilleux" /><label>{{ localize 'PENOMBRE.ui.plutotDeMerveilleux' }}</label>
        </div>
      </fieldset>
    </div>

    <div class="part-right-1">
      {{#if (eq messageType "principal")}}
        <div class="form-group difficulte">
          <label for="difficulte">{{localize 'PENOMBRE.ui.difficulte'}}</label>
          <div class="form-fields">
            <select name="difficulte" id="difficulte">
              {{selectOptions choiceDifficulte selected=difficulte localize=true blank=""}}
            </select>
          </div>
        </div>
        <fieldset>
          <div class="options">
            <input type="checkbox" name="actionCollegiale" id="actionCollegiale"/><label>{{localize 'PENOMBRE.ui.actionCollegiale' }}</label>
            <input type="checkbox" name="effetMagique" id="effetMagique"/><label>{{localize 'PENOMBRE.ui.effetMagique' }}</label>
          </div>
        </fieldset>
        <div class="form-group effet-magique-niveau" style="display: none;">
          <label for="effetMagiqueNiveau">{{localize 'PENOMBRE.ui.effetMagiqueNiveau'}}</label>
          <div class="form-fields">
            <select name="effetMagiqueNiveau" id="effetMagiqueNiveau">
              {{selectOptions choiceEffetMagiqueNiveau selected=effetMagiqueNiveau localize=true}}
            </select>
          </div>
        </div>
        <div class="form-group effet-magique-maitrise" style="display: none;">
          <label for="effetMagiqueMaitrise">{{localize 'PENOMBRE.ui.effetMagiqueMaitrise'}}</label>
          <div class="form-fields">
            <select name="effetMagiqueMaitrise" id="effetMagiqueMaitrise">
              {{selectOptions choiceEffetMagiqueMaitrise selected=effetMagiqueMaitrise localize=true}}
            </select>
          </div>
        </div>
      {{/if}}
    </div>
  </div>

  <div class="line-2">
    <fieldset>
      <legend>{{ localize 'PENOMBRE.ui.atouts' }}</legend>
      <div class="atouts">
        {{#each atouts}}
          <div class="atout" data-bonus="{{this.system.valeur}}">
            <div class="nom">{{this.name}}</div>
            <div class="level">Niveau : {{this.system.valeur}}</div>
          </div>
        {{/each}}      
      </div>
      <div class="options-total">
        <label class="premierAtout" style="visibility: {{#if (eq messageType "principal")}}hidden{{else}}visible{{/if}};"><input type="checkbox" name="actionCollegialePremierAtout" id="actionCollegialePremierAtout"/>{{localize 'PENOMBRE.ui.actionCollegialePremierAtout' }}</label>
        <div class="bonus-total">
          <label>{{ localize 'PENOMBRE.ui.bonusTotal' }}</label>
          <input type="number" id="bonusAtouts" name="bonusAtouts" value={{bonusAtouts}} readonly />
        </div>
      </div>
    </fieldset>
  </div>

  <div class="line-3">
    <div class="part-left-3">
      <fieldset>
        <legend>{{ localize 'PENOMBRE.ui.formule' }}</legend>
        <div class="formuleElements">
          <label>{{localize 'PENOMBRE.ui.bonus'}}</label>
          <input type="text" id="autreBonus" name="autreBonus" data-tooltip="{{localize 'PENOMBRE.ui.autreBonusTooltip'}}"/>
          <input type="text" id="formule" name="formule" value={{formule}} readonly/>
        </div>
      </fieldset>
      <div class="des-img">
        <img src="/systems/penombre/assets/ui/d4.webp" />
        <img src="/systems/penombre/assets/ui/d6.webp" />
        <img src="/systems/penombre/assets/ui/d8.webp" />
        <img src="/systems/penombre/assets/ui/d10.webp" />
        <img src="/systems/penombre/assets/ui/d12.webp" />
        <img src="/systems/penombre/assets/ui/d20.webp" />
      </div>
      <div class="form-group rollMode">
        <label for="rollMode">{{localize "CHAT.RollDefault"}}</label>
        <div class="form-fields">
          <select name="rollMode" id="rollMode">
            {{selectOptions rollModes selected=defaultRollMode localize=true}}
          </select>
        </div>
      </div>
    </div>

    <div class="part-right-3">
      <fieldset>
        <legend>{{ localize 'PENOMBRE.ui.jetons' }}</legend>
        <div class="depensetotal">
          <label id="jetonsDepenserTooltip" data-tooltip="">{{ localize 'PENOMBRE.ui.jetonsDepenser' }}</label>
          <div class="form-fields">
            <input type="number" id="jetons" name="jetons" />
          </div>
        </div>
        <fieldset>
          <legend>{{ localize 'PENOMBRE.ui.jetonsDepenseAuto' }}</legend>
          <div>            
            <label>{{ localize 'PENOMBRE.Eminence.FIELDS.conscience.valeur.label' }} <span data-tooltip="{{ localize 'PENOMBRE.ui.jetonsConscienceRestant' }}" data-tooltip-direction="UP">({{maxJetonsConscience}})</span></label>
            {{formInput fieldJetonsConscience name="jetonsConscience" id="jetonsConscience"}}
            <label>{{ localize 'PENOMBRE.ui.reserveCollegiale' }} <span data-tooltip="{{ localize 'PENOMBRE.ui.jetonsConscienceRestantOuvertureFenetre' }}" data-tooltip-direction="UP">({{maxJetonsReserve}})</span></label>
            {{formInput fieldJetonsReserve name="jetonsReserve" id="jetonsReserve"}}
          </div>
        </fieldset>
      </fieldset>
    </div>
  </div>

</div>