{{!log "roll-dialog" this}}
<div class="penombre-roll-dialog" data-actor-id="{{actor.id}}">

  <div class="line-1">
    <div class="part-left-1">
      <fieldset>
        <legend>{{localize "PENOMBRE.ui.harmonique"}}</legend>
        <div class="harmonique">
          <label id="harmonique-label">{{label}}</label>
          <select id="harmonique" name="harmonique">
            {{selectOptions choiceHarmonique selected=harmonique localize=true}}
          </select>
        </div>
        <div class="deMerveilleux">
          <input type="checkbox" id="deMerveilleux" name="deMerveilleux" /><label>Plutôt le Dé merveilleux</label>
        </div>
      </fieldset>
    </div>

    <div class="part-right-1">
      <div class="form-group difficulte">
        <label for="difficulte">{{localize "PENOMBRE.ui.difficulte"}}</label>
        <div class="form-fields">
          <select name="difficulte" id="difficulte">
            {{selectOptions choiceDifficulte selected=difficulte localize=true blank=""}}
          </select>
        </div>
      </div>
      <fieldset>
        <div class="options">
          <input type="checkbox" name="actionCollegiale" id="actionCollegiale"/><label>Action collégiale</label>
          <input type="checkbox" name="effetMagique" id="effetMagique"/><label>Effet magique</label>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="line-2">
    <fieldset>
      <legend>Atouts</legend>
      <div class="atouts">
        {{#each atouts}}
          <div class="atout" data-bonus="{{this.system.valeur}}">
            <div class="nom">{{this.name}}</div>
            <div class="level">Niveau : {{this.system.valeur}}</div>
          </div>
        {{/each}}
      </div>
      <div class="bonus-total">
        <label>Bonus total</label>
        <input type="number" id="bonusAtouts" name="bonusAtouts" value={{bonusAtouts}} readonly />
      </div>
    </fieldset>
  </div>

  <div class="line-3">
    <div class="part-left-3">

      <fieldset>
        <legend>Formule</legend>
        <input type="text" id="formule" name="formule" value={{formule}} />
      </fieldset>
      <div class="des-img">
        <img width="75" src="/systems/penombre/assets/ui/d4.png" />
        <img width="75" src="/systems/penombre/assets/ui/d6.png" />
        <img width="75" src="/systems/penombre/assets/ui/d8.png" />
        <img width="75" src="/systems/penombre/assets/ui/d10.png" />
        <img width="75" src="/systems/penombre/assets/ui/d12.png" />
        <img width="75" src="/systems/penombre/assets/ui/d20.png" />
      </div>
      <br />&nbsp;<br />
      <div class="form-group rollMode">
        <label for="rollMode">{{localize "CHAT.RollDefault"}}</label>
        <div class="form-fields">
          <select name="rollMode" id="rollMode">
            {{selectOptions rollModes selected=defaultRollMode localize=true}}
          </select>
        </div>
      </div>
    </div>

    <div class="part-right-3">
      <fieldset>
        <legend>Jetons</legend>
        <div class="depensetotal">
          <label>Nombre de jetons à dépenser :</label>
          <div class="form-fields">
            <input type="number" id="jetons" name="jetons" />
          </div>
        </div>
        <fieldset>
          <legend>Dépense automatique</legend>
          <div>            
            <label>Conscience ({{maxJetonsConscience}})</label>
            {{formInput fieldJetonsConscience name="jetonsConscience" id="jetonsConscience"}}
            <label>Réserve collégiale ({{maxJetonsReserve}})</label>
            {{formInput fieldJetonsReserve name="jetonsReserve" id="jetonsReserve"}}
          </div>
        </fieldset>
      </fieldset>
    </div>
  </div>

</div>