{{log "atout" this}}
<section class="atout-main standard-form">
    {{formGroup fields.name value=item.name localize=true}}
    {{formGroup systemFields.valeur value=systemSource.valeur localize=true}}
    {{formGroup systemFields.type value=systemSource.type localize=true}}
    {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
</section>