{{log "reserve collegiale" this}}
<div class="jetons jetons-{{ifThen isGM 'gm' 'player'}}">
  {{#each jetons}}
    <div class="jeton {{ifThen this.valeur 'active' 'inactive'}}">
      Jeton
      {{@key}}
      <img class="jeton jeton-contextmenu dropshadow-{{ifThen this.valeur 'actif' 'inactif'}}" data-action="jeton" data-index="{{@key}}" src="{{getJetonImage this.valeur}}"></img>
    </div>
  {{/each}}
</div>