{{!log "reserve collegiale" this}}
<div class="div-jetons{{#if (or isStyleJeuStandard isStyleJeuAvance)}}-2{{/if}}">
  <div class="jetons jetons-{{ifThen isGM 'gm' 'player'}}">
    {{#each jetons}}
      <div class="jeton {{ifThen this.valeur 'active' 'inactive'}}">
        <img class="jeton jeton-{{@key}} absolue jeton-contextmenu dropshadow-{{ifThen this.valeur 'actif' 'inactif'}}" data-action="jeton" data-index="{{@key}}" src="{{getJetonImage this.valeur}}"  data-tooltip="{{localize 'PENOMBRE.ui.jeton'}} {{@key}}"></img>
      </div>
    {{/each}}
  </div>
</div>