{{log "roll-dialog" this}}
<div class="penombre-roll-dialog">
  <fieldset>
    <legend>Harmonique</legend>
    {{label}}
    :
    {{formula}}
    <div><input type="checkbox" name="deMerveilleux" /><label>Dé merveilleux</label></div>
  </fieldset>
  <fieldset>
    <legend>Atouts</legend>
    {{#each atouts}}
      <div class="atout flexrow" data-bonus="{{this.system.valeur}}">
        <div>{{this.name}}</div>
        <div>Niveau : {{this.system.valeur}}</div>
      </div>
    {{/each}}
  </fieldset>
  <fieldset>
    <legend>Options</legend>
    <div>
      <input type="checkbox" name="actionCollegiale" /><label>Action collégiale</label>
      <input type="checkbox" name="effetMagique" /><label>Effet magique</label>
    </div>
  </fieldset>
  <div class="form-group rollMode">
    <label class="near" for="rollMode">{{localize "CHAT.RollDefault"}}</label>
    <div class="form-fields">
      <select name="rollMode" id="rollMode">
        {{selectOptions rollModes selected=rollMode localize=true}}
      </select>
    </div>
  </div>
</div>