{{!log "roll-dialog" this}}
<div class="penombre-roll-dialog" data-actor-id="{{actor.id}}">

  <div class="line-1"></div>

    <div class="part-left-1">
      <fieldset>
        <legend>Harmonique</legend>
        <label>{{label}}&nbsp;:</label>
        <input type="text" id="harmoniqueDice" name="harmoniqueDice" value={{harmoniqueDice}} />
        <div class="clearboth"><input type="checkbox" id="deMerveilleux" name="deMerveilleux" /><label>Utiliser le Dé merveilleux</label></div>
      </fieldset>
    </div>

    <div class="part-right-1">
      <div class="form-group difficulte">
        <label for="difficulte">{{localize "PENOMBRE.ui.difficulte"}}</label>
        <div class="form-fields">
          <select name="difficulte" id="difficulte">
            {{selectOptions choiceDifficulte selected=difficulte localize=true}}
          </select>
        </div>
      </div>
      <div class="form-group rollMode">
        <label for="rollMode">{{localize "CHAT.RollDefault"}}</label>
        <div class="form-fields">
          <select name="rollMode" id="rollMode">
            {{selectOptions rollModes selected=rollMode localize=true}}
          </select>
        </div>
      </div>
    </div>

  </div>

  <div class="line-2">

    <fieldset>
      <legend>Atouts</legend>
      {{#each atouts}}
        <div class="atout flexrow" data-bonus="{{this.system.valeur}}">
          <div class="name">{{this.name}}</div>
          <div class="level">Niveau : {{this.system.valeur}}</div>
        </div>
      {{/each}}
      <br>
      <label>Bonus total des atouts :</label>
      <input type="number" id="bonusAtouts" name="bonusAtouts" value={{bonusAtouts}} readonly />
    </fieldset>

  </div>


</div>