<section class="penombre info flexcol">
  <h1 class="title">{{localize "PENOMBRE.Sidebar.title"}}</h1>
  <p class="subtitle version">{{version}}</p>
</section>

<section class="penombre support flexcol">
  <h4 class="divider">{{localize "PENOMBRE.Sidebar.support"}}</h4>
  <a class="button" href="https://discord.gg/pPSDNJk" rel="nofollow noopener" target="_blank" data-tooltip="{{localize 'PENOMBRE.Sidebar.discordLaFonderieTooltip'}}">
    <i class="fa-solid fa-landmark" inert></i>
    {{localize "PENOMBRE.Sidebar.discordLaFonderie"}}
  </a>

  <a class="button" href="https://discord.gg/gQZRWbasfm" rel="nofollow noopener" target="_blank" data-tooltip="{{localize 'PENOMBRE.Sidebar.discordAetherLabsTooltip'}}">
    <i class="fa-solid fa-landmark" inert></i>
    {{localize "PENOMBRE.Sidebar.discordAetherLabs"}}
  </a>

  <a
    class="button"
    href="https://www.aether-labs.fr/ressources/ressources-penombre"
    rel="nofollow noopener"
    target="_blank"
    data-tooltip="{{localize 'PENOMBRE.Sidebar.ressourcesAetherLabsTooltip'}}"
  >
    <i class="fa-solid fa-sack" inert></i>
    {{localize "PENOMBRE.Sidebar.ressourcesAetherLabs"}}
  </a>

  <a
    class="button"
    href="https://github.com/AEther-Labs-Editions/foundry-penombre/issues/new/choose"
    rel="nofollow noopener"
    target="_blank"
    data-tooltip="{{localize 'PENOMBRE.Sidebar.bugReportTooltip'}}"
  >
    <i class="fa-solid fa-bug" inert></i>
    {{localize "PENOMBRE.Sidebar.bugReport"}}
  </a>

  <a
    class="button"
    href="https://www.youtube.com/watch?v=xpXrrsoP8UU"
    rel="nofollow noopener"
    target="_blank"
    data-tooltip="{{localize 'PENOMBRE.Sidebar.videoTooltip'}}"
  >
    <i class="fa-solid fa-video" inert></i>
    {{localize "PENOMBRE.Sidebar.video"}}
  </a>
</section>

<section class="penombre system flexcol">
  <h4 class="divider">{{localize "PENOMBRE.Sidebar.menu"}}</h4>
  <button type="button" data-action="openApp" data-app="reserve" data-tooltip="{{localize 'PENOMBRE.Sidebar.reserveTooltip'}}">
    <i class="fa-solid fa-users" inert></i>
    {{localize "PENOMBRE.Sidebar.reserve"}}
  </button>
</section>