{{!log "AdversaireSheet - Partials - Description" this }}
<div class="adversaire-description">
    <table class="centpourcent">
        <tr class="centpourcent">
            {{#if unlocked}}
            <th>
                {{ localize 'PENOMBRE.ui.nom' }}
            </th>
            <th>
                {{ localize 'PENOMBRE.Adversaire.FIELDS.description.valeur.label' }}
            </th>
            {{else}}
            <th>
                {{ localize 'PENOMBRE.ui.nom' }}
            </th>
            {{/if}}
        </tr>
        <tr>
            {{#if unlocked}}
            <td>
                <span class="name" data-tooltip="{{{system.description.valeur}}}">{{system.name}}</span>
            </td>
            <td>
                {{formGroup systemFields.description.valeur value=systemSource.description.valeur localize=true}}
            </td>
            {{else}}
            <td>
                <span class="name-complete">{{system.name}}{{system.description.valeur}}</span>
            </td>
            {{/if}}
        </tr>
    </table>
</div>