{{log "personnage" this}}
<div class="adversaire-personnage">
    <div class="logo-frame">
      <img class="logo-img" src="{{document.img}}" {{#if unlocked}}data-action="editImage"{{/if}} data-tooltip="{{document.name}}"/>
    </div>
    <div class="infos">
        <div class="nom{{#if locked}} locked{{/if}}">
                {{#if locked}}
                        <div class="name">{{nom}}</div>
                        <div class="description">{{description}}</div>
                {{else}}
                                                        
                        {{formGroup fields.name value=document.name localize=true}}
                        {{formGroup systemFields.description value=systemSource.description localize=true}}
                {{/if}}
        </div>
        <div class="adversite">
            <div class="attribut">
                <label>{{ localize 'PENOMBRE.Adversaire.FIELDS.adversite.valeur.label' }}</label> {{numberInput system.adversite.valeur min=0 max=maxAdversite step=1 name="system.adversite.valeur" }} /  {{formInput systemFields.adversite.fields.max value=systemSource.adversite.max localize=true disabled=locked}}
            </div>
            <div class="attribut">
                <label>{{ localize 'PENOMBRE.Adversaire.FIELDS.resilience.valeur.label' }}</label> {{numberInput system.resilience.valeur min=0 max=maxResilience step=1 name="system.resilience.valeur" }} /  {{formInput systemFields.resilience.fields.max value=systemSource.resilience.max localize=true disabled=locked}}
            </div>
            {{#if (or unlocked hasDissonance)}}
            <div class="attribut">
                <label>{{ localize 'PENOMBRE.Adversaire.FIELDS.dissonance.valeur.label' }}</label> {{numberInput system.dissonance.valeur min=0 max=maxDissonance step=1 name="system.dissonance.valeur" }} /  {{formInput systemFields.dissonance.fields.max value=systemSource.dissonance.max localize=true disabled=locked}}
                {{#if unlocked}}
                {{selectOptions harmoniquesChoices selected=systemSource.dissonance.harmonique valueAttr="key" labelAttr="label"}}
                {{else}}
                <div class="form-fields harmonique">{{localize (concat "PENOMBRE.Harmonique." system.dissonance.harmonique ".label")}}</div>
                {{/if}}
            </div>
            {{/if}}
        </div>
      </div>
</div>
