<div class="adversaire-personnage">
    <div class="logo-frame">
            <img class="logo-img" src="{{document.img}}" {{#if unlocked}}data-action="editImage"{{/if}} data-tooltip="{{document.name}}"/>
    </div>
    <div class="data">
            {{formGroup fields.name value=document.name localize=true disabled=locked}}

            {{formGroup systemFields.adversite.field.max value=systemSource.adversite.max localize=true}}
            {{formGroup systemFields.adversite.field.valeur value=systemSource.adversite.valeur localize=true}}
            {{formGroup systemFields.resilience.field.max value=systemSource.resilience.max localize=true}}
            {{formGroup systemFields.resilience.field.valeur value=systemSource.resilience.valeur localize=true}}
            {{formGroup systemFields.dissonance.field.harmonique value=systemSource.dissonance.harmonique localize=true}}
            {{formGroup systemFields.dissonance.field.max value=systemSource.dissonance.max localize=true}}
            {{selectOptions harmoniquesChoices value=systemSource.dissonance.valeur localize=true}}
      </div>
</div>
