<div class="adversaire-personnage">
    <div class="logo-frame">
            <img class="logo-img" src="{{document.img}}" {{#if unlocked}}data-action="editImage"{{/if}} data-tooltip="{{document.name}}"/>
    </div>
    <div class="data">
            {{formGroup fields.name value=document.name localize=true disabled=locked}}
                <table class="centpourcent">
                        <tr class="centpourcent">
                        {{#if unlocked}}
                        <th>
                                {{ localize 'PENOMBRE.ui.nom' }}
                        </th>
                        <th>
                                {{ localize 'PENOMBRE.Adversaire.FIELDS.description.label' }}
                        </th>
                        {{else}}
                        <th>
                                {{ localize 'PENOMBRE.ui.nom' }}
                        </th>
                        {{/if}}
                        </tr>
                        <tr>
                        {{#if unlocked}}
                        <td>
                                <span class="name" data-tooltip="{{{system.description}}}">{{document.name}}</span>
                        </td>
                        <td>
                                {{formGroup systemFields.description value=systemSource.description localize=true}}
                        </td>
                        {{else}}
                        <td>
                                <span class="name-complete">{{document.name}}{{system.description}}</span>
                        </td>
                        {{/if}}
                        </tr>
                </table>
            {{formGroup systemFields.adversite.fields.max value=systemSource.adversite.max localize=true}}
            {{formGroup systemFields.adversite.fields.valeur value=systemSource.adversite.valeur localize=true}}
            {{formGroup systemFields.resilience.fields.max value=systemSource.resilience.max localize=true disabled=true}}
            {{formGroup systemFields.resilience.fields.valeur value=systemSource.resilience.valeur localize=true}}
            {{formGroup systemFields.dissonance.fields.max value=systemSource.dissonance.max localize=true}}
            {{formGroup systemFields.dissonance.fields.valeur value=systemSource.dissonance.valeur localize=true}}
            {{formGroup systemFields.dissonance.fields.harmonique value=systemSource.dissonance.harmonique localize=true}}
      </div>
</div>
