<div class="adversaire-personnage">
      {{formGroup fields.name value=document.name localize=true}}
      {{formGroup systemFields.adversite.max value=systemSource.adversite.max localize=true}}
      {{formGroup systemFields.adversite.valeur value=systemSource.adversite.valeur localize=true}}
      {{formGroup systemFields.resilience value=systemSource.resilience localize=true disabled=true}}
      {{formGroup systemFields.dissonance value=systemSource.dissonance localize=true}}
</div>